@import "ScssHelpers/helpers_all";

.grid_section {
	padding: 1rem 1.5rem var(--gl-indent);
}

.grid_body {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-auto-flow: dense;
	gap: 2rem;
}
