@import "ScssHelpers/helpers_all";

.grid_item {
	position: relative;
	min-height: 22rem;
	background-color: $color_item_bg;

	&.grid_item--pos_1_mod {
		grid-column: span 3;
		grid-row: span 2;

		@include bp($point_4 - 1) {
			grid-column: span 2;
			grid-row: span 1;
		}

		@include bp($point_6 - 1) {
			grid-column: span 1;
			grid-row: span 1;
		}
	}

	&.grid_item--pos_2_mod {
		grid-column: span 2;
		grid-row: span 1;

		@include bp($point_6 - 1) {
			grid-column: span 1;
			grid-row: span 1;
		}
	}

	&.grid_item--pos_3_mod {
		@extend %global_flex_block_column_nowrap_flex-start;

		grid-column: span 1;
		grid-row: span 2;

		@include bp($point_6 - 1) {
			grid-column: span 1;
			grid-row: span 1;
		}
	}

	&.grid_item--pos_4_mod {
		@extend %global_flex_block_row_nowrap_flex-start;

		grid-column: span 2;
		grid-row: span 1;

		@include bp($point_6 - 1) {
			flex-direction: column;

			grid-column: span 1;
			grid-row: span 1;
		}
	}

	&.grid_item--pos_5_mod {
		grid-column: span 2;
		grid-row: span 2;

		@include bp($point_6 - 1) {
			grid-column: span 1;
			grid-row: span 1;
		}
	}
}

//-------------------------grid picture
.grid_item__image {
	position: relative;
	display: block;
	width: 21.6rem;
	height: 22rem;
	flex-shrink: 0;

	.grid_item--pos_3_mod & {
		width: 100%;
	}

	@include bp($point_6 - 1) {
		width: 100%;
	}
}

.grid_item__image_in {
	display: block;
}
.grid_item__image_img {
	position: absolute;
	top: 0;
	left: 0;
	@extend %cover_img;
}
//-------------------------grid picture###

//-------------------------grid background
.grid_item__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid_item__background_img {
	@extend %cover_img;
}
//-------------------------grid background###

//-------------------------grid content
.grid_item__content {
	position: relative;
	@extend %global_flex_block_column_nowrap_flex-start;
	height: 100%;

	&.grid_item__content--style_1_mod {
		padding: 1rem 1.5rem;
	}
	&.grid_item__content--style_2_mod {
		padding: 1.5rem;
	}
	&.grid_item__content--style_3_mod {
		padding: 1rem 2rem;
	}
	&.grid_item__content--style_4_mod {
		padding: 1rem 2rem;
	}
	&.grid_item__content--style_5_mod {
		padding: 1rem 2.2rem;
	}
	&.grid_item__content--style_6_mod {
		padding: 1rem 2.2rem;
		justify-content: flex-end;
	}

	.grid_item--pos_1_mod & {
		justify-content: flex-end;
	}

	.grid_item--pos_2_mod & {
		width: 60%;
		margin-left: auto;
		flex-shrink: 0;
		align-items: flex-end;
	}
}
//-------------------------grid content###

//------------------------------grid tags
.grid_item__tags {
	@extend %global_flex_block_row_wrap_flex-start;

	width: 100%;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	.grid_item--pos_2_mod & {
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.grid_item__tags_title,
.grid_item__tags_subtitle {
	text-align: center;
	padding: 0.6rem 0.4rem;
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1.32;
	text-transform: uppercase;
	background-color: $white;
}

.grid_item__tags_title {
	color: $color_footer_bg;
	&:not(:last-child) {
		margin-bottom: 0.8rem;
	}
}

.grid_item__tags_subtitle {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.grid_item__tag,
.grid_item__autor,
.grid_item__text {
	font-weight: 500;
	@extend %style_size;
}

.grid_item__tag {
	flex-grow: 1;

	&:not(:last-child) {
		margin: 0 1rem 1rem 0;
	}

	.grid_item--pos_1_mod &,
	.grid_item__content--style_6_mod & {
		flex-grow: 0;
		padding: 0.2rem 0.8rem;
		color: $white;
		background-color: $color_tag_mod_4;

		@extend %transition_color;
		@media (any-hover: hover) {
			&:hover {
				color: $color_hover;
			}
		}
	}

	.grid_item__content--style_3_mod & {
		margin-right: 4rem;
	}
}

.grid_item__tag--color_mod_1 {
	color: $color_tag_mod_1;
}
.grid_item__tag--color_mod_2 {
	color: $color_tag_mod_2;
}
.grid_item__tag--color_mod_3 {
	color: $color_tag_mod_3;
}
.grid_item__tag--color_mod_4 {
	color: $color_tag_mod_4;
}
.grid_item__tag--color_mod_5 {
	color: $color_tag_mod_5;
}
.grid_item__tag--color_mod_6 {
	color: $color_tag_mod_6;
}
.grid_item__tag--color_mod_7 {
	color: $color_tag_mod_7;
}

.grid_item__autor {
	display: block;
	color: $color_link_base;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	.grid_item--pos_1_mod & {
		width: 100%;
		color: $white;
	}

	.grid_item--pos_2_mod & {
		padding: 0.2rem 0.8rem;
		align-self: center;
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1.33;
		color: $white;
		border: 1px solid $white;
		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}
	}
	.grid_item__content--style_6_mod & {
		color: $white;
		margin-left: auto;
	}
}

.grid_item__text {
	color: $color_text_base;
	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	.grid_item__content--style_6_mod & {
		color: $white;
	}
}
//----------------------------grid tags###

.grid__new_icon,
.grid_item__title {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.31;
	letter-spacing: -0.02em;
	color: $color_text_base;
}

//-------------------grid icon
.grid__new_icon {
	.grid_item--pos_2_mod & {
		color: $white;
		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}
	}
}

.grid_item__icon {
	display: block;
	width: 7px;
	height: 15px;
	margin-left: auto;
}
//-------------------grid icon###

//-------------------grid title
.grid_item__title {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	.grid_item--pos_1_mod & {
		color: $white;
		letter-spacing: normal;
		text-transform: uppercase;

		@extend %transition_color;

		@media (any-hover: hover) {
			&:hover {
				color: $color_hover;
			}
		}
	}

	.grid_item__content--style_4_mod & {
		font-size: 2.2rem;
		line-height: 1.23;

		@include bp($point_5 - 1) {
			font-size: 1.6rem;
		}
	}

	.grid_item__content--style_5_mod & {
		font-size: 3.6rem;
		line-height: 1;
		&:not(:last-child) {
			margin-bottom: 4rem;
		}

		@include bp($point_5 - 1) {
			font-size: 1.6rem;
		}
	}
	.grid_item__content--style_6_mod & {
		color: $white;

		@media (any-hover: hover) {
			&:hover {
				color: $color_hover;
			}
		}
	}
}
//-------------------grid title###

//-------------------------grid info
.grid_item__info {
	position: relative;
	margin-top: auto;
	width: 100%;
	@extend %global_flex_block_row_nowrap_flex-start;

	.grid_item--pos_1_mod &,
	.grid_item__content--style_6_mod & {
		margin: 0;
	}
}

.grid_item__info_data,
.grid_item__info_time {
	@extend %style_size;

	.grid_item__content--style_1_mod &,
	.grid_item__content--style_6_mod & {
		color: $white;
	}
}

.grid_item__info_data {
	&:not(:last-child) {
		margin-right: 2rem;
	}
}
.grid_item__info_time {
	margin-left: auto;
}
//-------------------------grid info###

//-------------------------grid video
.grid_item__video {
	@extend %global_flex_block_row_nowrap_flex-end;
	cursor: pointer;
}

.grid_item__video_text {
	letter-spacing: -0.01em;
	color: $white;

	@extend %style_size;

	&:not(:last-child) {
		margin-right: 1rem;
	}
}

.grid_item__video_icon {
	display: block;
	width: 1.8rem;
	height: 1.8rem;
	color: $white;

	.grid_item--pos_4_mod & {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 4.4rem;
		height: 4.4rem;
		background-color: $white;
		border-radius: 50%;
		color: $color_text_base;
	}
}
//-------------------------grid video###

//---------------style mod
// .grid_item__content--style_1_mod {
// 	padding: 1rem 1.5rem;
// }
// .grid_item__content--style_2_mod {
// 	padding: 1.5rem;
// }
// .grid_item__content--style_3_mod {
// 	padding: 1rem 2rem;
// }
// .grid_item__content--style_4_mod {
// 	padding: 1rem 2rem;
// }
// .grid_item__content--style_5_mod {
// 	padding: 1rem 2.2rem;
// }
// .grid_item__content--style_6_mod {
// 	padding: 1rem 2.2rem;
// }
//---------------style mod###

// //---------------position mod
// .grid_item--pos_1_mod {
// 	grid-column: span 3;
// 	grid-row: span 2;
// }

// .grid_item--pos_2_mod {
// 	grid-column: span 2;
// 	grid-row: span 1;
// }

// .grid_item--pos_3_mod {
// 	grid-column: span 1;
// 	grid-row: span 2;
// }

// .grid_item--pos_4_mod {
// 	grid-column: span 2;
// 	grid-row: span 1;
// }
// .grid_item--pos_5_mod {
// 	grid-column: span 2;
// 	grid-row: span 2;
// }
// //---------------position mod###
