@import "ScssHelpers/helpers_all";

.grid_item {
	position: relative;
	min-height: 22rem;
	background-color: $color_item_bg;

	&.pos_4_mod {
		display: flex;
	}
}
//-------------------------grid picture
.grid_item__image {
	position: relative;
	display: block;
	width: 21.6rem;
	height: 22rem;
	flex-shrink: 0;
}

.grid_item__image_in {
	display: block;
}
.grid_item__image_img {
	@extend %cover_img;
}

//-------------------------grid picture###

//-------------------------grid background
.grid_item__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid_item__background_img {
	@extend %cover_img;
}

//-------------------------grid background###

//-------------------------grid content

.grid_item__content {
	position: relative;
	@extend %global_flex_block_column_nowrap_flex-start;
	height: 100%;

	.pos_1_mod & {
		justify-content: flex-end;
	}
	.pos_2_mod & {
		width: 60%;
		margin-left: auto;
		flex-shrink: 0;
		align-items: flex-end;
	}
}
//------------------------------grid tags
.grid_item__tags {
	width: 100%;
	@extend %global_flex_block_row_nowrap_flex-start;
	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	.pos_2_mod & {
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.grid_item__tags_title,
.grid_item__tags_subtitle {
	text-align: center;
	padding: 0.6rem 0.4rem;
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1.32;
	text-transform: uppercase;
	background-color: $white;
}

.grid_item__tags_title {
	color: $color_footer_bg;
	&:not(:last-child) {
		margin-bottom: 0.8rem;
	}
}

.grid_item__tags_subtitle {
}

.grid_item__tag,
.grid_item__autor,
.grid_item__text {
	font-weight: 500;

	@extend %style_size;
}

.grid_item__tag {
	&:not(:last-child) {
		margin-right: 1rem;
	}

	.pos_1_mod & {
		padding: 0.2rem 0.8rem;
		color: $white;
		background-color: $color_tag_mod_4;

		@extend %transition_color;
		@media (any-hover: hover) {
			&:hover {
				color: $color_hover;
			}
		}
	}
}

.grid_item__tag--color_mod_1 {
	color: $color_tag_mod_1;
}
.grid_item__tag--color_mod_2 {
	color: $color_tag_mod_2;
}
.grid_item__tag--color_mod_3 {
	color: $color_tag_mod_3;
}
.grid_item__tag--color_mod_4 {
	color: $color_tag_mod_4;
}
.grid_item__tag--color_mod_5 {
	color: $color_tag_mod_5;
}
.grid_item__tag--color_mod_6 {
	color: $color_tag_mod_6;
}
.grid_item__tag--color_mod_7 {
	color: $color_tag_mod_7;
}

//----------------------------grid tags###

.grid_item__autor {
	display: block;
	color: $color_link_base;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	.pos_1_mod & {
		color: $white;
	}

	.pos_2_mod & {
		padding: 0.2rem 0.8rem;
		align-self: center;
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1.33;
		color: $white;
		border: 1px solid $white;
		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}
	}
}

.grid_item__text {
	color: $color_text_base;
}
//-------------------grid icon
.grid__new_icon {
	.pos_2_mod & {
		color: $white;
		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}
	}
}

.grid_item__icon {
	display: block;
	width: 7px;
	height: 15px;
	margin-left: auto;
}

//-------------------grid icon###

.grid_item__title {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	.pos_1_mod & {
		color: $white;
		letter-spacing: normal;
		text-transform: uppercase;

		@extend %transition_color;

		@media (any-hover: hover) {
			&:hover {
				color: $color_hover;
			}
		}
	}
}

.grid__new_icon,
.grid_item__title {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.31;
	letter-spacing: -0.02em;
	color: $color_text_base;
}
//-------------------------grid content###

//-------------------------grid info###
.grid_item__info {
	position: relative;
	margin-top: auto;
	width: 100%;
	@extend %global_flex_block_row_nowrap_flex-start;

	.pos_1_mod & {
		margin: 0;
	}
}

.grid_item__info_data,
.grid_item__info_time {
	@extend %style_size;

	.style_1_mod & {
		color: $white;
	}
}

.grid_item__info_data {
	&:not(:last-child) {
		margin-right: 2rem;
	}
}
.grid_item__info_time {
	margin-left: auto;
}

//-------------------------grid info###

//-------------------------grid video###
.grid_item__video {
	@extend %global_flex_block_row_nowrap_flex-end;
}

.grid_item__video_text {
	letter-spacing: -0.01em;
	color: $white;

	@extend %style_size;

	&:not(:last-child) {
		margin-right: 1rem;
	}
}

.grid_item__video_icon {
	display: block;
	width: 1.8rem;
	height: 1.8rem;
	color: $white;

	.pos_4_mod & {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 4.4rem;
		height: 4.4rem;
		background-color: $white;
		border-radius: 50%;
		color: $color_text_base;
	}
}

//-------------------------grid video###

//---------------style mod
.style_1_mod {
	padding: 1rem 1.5rem;
}
.style_2_mod {
	padding: 1rem;
}
.style_3_mod {
	padding: 1rem 2rem;
}

//---------------style mod###

//---------------position mod

.pos_1_mod {
	grid-column: span 3;
	grid-row: span 2;
}

.pos_2_mod {
	grid-column: span 2;
	grid-row: span 1;
}

.pos_3_mod {
	grid-row: span 2;
}

.pos_4_mod {
	grid-column: span 2;
	grid-row: span 1;
}

//---------------position mod###
