@import "ScssHelpers/helpers_all";

//---------------------------------------------menu
.header__menu_wrapper {
	padding: 0 1rem;

	@extend %transition_transform;

	@include bp($point_1) {
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		height: var(--full-screen);
		overflow-x: hidden;
		overflow-y: auto;

		padding: 8rem 3rem 3rem;
		display: block;

		background: lightgoldenrodyellow;
		transform: translateX(-100%);

		.body--open_menu_state & {
			transform: translateX(0);
		}

		@include bp($point_4) {
			width: 35%;
		}

		@include bp($point_5) {
			width: 100%;
		}
	}
}
.header__menu {
	@extend %global_flex_block_row_wrap_flex-start_center;
	height: 100%;

	@include bp($point_1) {
		@include flex_block(column, nowrap, flex-start, center);
	}
}

.header__menu_list {
	@extend %global_flex_block_row_wrap_flex-start_center;

	@include bp($point_1, min) {
		&:not(:last-child) {
			margin-right: 3rem;
		}
	}

	@include bp($point_1 -1) {
		@include flex_block(column, nowrap, center, center);
		flex-grow: 1;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}
	}
	@include bp($point_5) {
		width: 100%;
	}
}

.header__menu_item {
	@include bp($point_1, min) {
		&:not(:last-child) {
			margin-right: var(--gl-indent);
		}
	}

	@include bp($point_1 -1) {
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 1.8rem;
		}
	}
}

.header__menu_link {
	font-size: 1.2rem;
	line-height: 1.33;
	color: $color_text_base;
	text-transform: uppercase;

	@extend %transition_color;

	.header__menu_item--active_mod & {
		color: $color_tag_mod_1;
	}

	@include bp($point_1) {
		font-size: 2rem;
	}
}

//---------------------------------------------menu###
