@import "ScssHelpers/helpers_all";

.social_list {
	@extend %global_flex_block_row_wrap_center_center;
	margin: 0 -1.4rem;
}
.social_item {
	padding: 0 1.4rem;
}

.social_link {
	display: block;
	color: inherit;

	&.social_link--size_1_mod {
		width: 1rem;
		height: 1.8rem;
	}
	&.social_link--size_2_mod {
		width: 2rem;
		height: 1.6rem;
	}
	&.social_link--size_3_mod {
		width: 3.4rem;
		height: 2.8rem;
	}
	&.social_link--size_4_mod {
		width: 2rem;
		height: 1.4rem;
	}
}
