mixin footer
	footer.footer
		.footer__in.section_in
			.footer__wrapper
				.footer__column.footer__column--mod_logo
					a(href="#").footer__logo
						img(src="images/footer_logo.png", class="footer__logo_img" alt="logo")
					.footer__column_body
						h3.footer__title Платформа AI
						+social({
							mod_block: 'footer__social',
							items: [
								{name_icon: 'facebook', mod_link: 'social_link--size_1_mod', mod_icon:'icon--size_mod'},
								{name_icon: 'twitter', mod_link: 'social_link--size_2_mod', mod_icon:'icon--size_mod'},
								{name_icon: 'rss', mod_link: 'social_link--size_3_mod', mod_icon:'icon--size_mod'},
								{name_icon: 'youtube', mod_link: 'social_link--size_4_mod', mod_icon:'icon--size_mod'}
							]
						})
						.footer__copyright
							span.footer__copyright_icon ©
							span.footer__copyright_text 2020 Everest.
							span.footer__copyright_text ALL RIGHTS RESERVED
				.footer__column
					+menu({
							gl_class: 'footer__menu',
							items: [
								{title: 'Кто мы', url: '#', active: false},
								{title: 'Что мы делаем', url: '#', active: false},
								{title: 'Направления работы', url: '#', active: false},
								{title: 'Компетенции', url: '#', active: false},
								{title: 'Команда', url: '#', active: false},
								{title: 'Новости', url: '#', active: false},
								{title: 'Партнеры', url: '#', active: false},
								{title: 'Контакты', url: '#', active: false}
							]
						})
				.footer__column
					h3.footer__title Аналитика
					.footer__subtitle Решения:
					+menu({
							gl_class: 'footer__info',
							items: [
								{title: 'Банки', url: '#', active: false},
								{title: 'Страхование', url: '#', active: false},
								{title: 'Здравоохранение', url: '#', active: false},
								{title: 'Транспорт и логистика', url: '#', active: false},
								{title: 'Государственный сектор', url: '#', active: false},
								{title: 'Ритейл и eCommerce', url: '#', active: false},
								{title: 'Телекомуникации', url: '#', active: false}
							]
						})
				.footer__column.footer__column--mod_width
					h3.footer__title О нас
					.footer__text
						p EVEREST - опытный интегратор digital-технологий, продуктов и сервисов для цифровой трансформации бизнеса, корпоративного и государственного секторов.
						p Разрабатывает и внедряет решения на базе AI, используя методы Data Data и ML для совершенствования и автоматизации бизнес-процессов клиентов.
						p Всегда оперирует тенденциями цифрового мира и концентрирует свои усилия на уникальности и инновационности методов в работе с каждым клиентом над созданием и адаптацией digital-идей и концепций.
					form.footer__form
						+form_input({
							type: 'email',
							label: '',
							placeholder: 'Email',
							value: '',
							id: 'email',
						})
						.footer__form_button
							button.footer__form_btn(type="submit") Подписаться
				.footer__column.footer__column--mod_mobile
						+social({
							mod_block: 'footer__social',
							items: [
								{name_icon: 'facebook', mod_link: 'social_link--size_1_mod', mod_icon:'icon--size_mod'},
								{name_icon: 'twitter', mod_link: 'social_link--size_2_mod', mod_icon:'icon--size_mod'},
								{name_icon: 'rss', mod_link: 'social_link--size_3_mod', mod_icon:'icon--size_mod'},
								{name_icon: 'youtube', mod_link: 'social_link--size_4_mod', mod_icon:'icon--size_mod'}
							]
						})
						.footer__copyright
							span.footer__copyright_icon ©
							span.footer__copyright_text 2020 Everest.
							span.footer__copyright_text ALL RIGHTS RESERVED