block project_vars
-
	let gridItem = [
		{
			tag: 'Здравоохранение ',
			autor: 'Автор: Владимир Мищенко',
			title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
			background: 'item-1.jpg',
			data: '00 окт 20',
			time: '~ 6 мин',
			style_mod: 'style_1_mod',
			pos_mod: ' pos_1_mod'
		},
		{
			tag: 'Государственный сектор',
			tag_mod: 'grid_item__tag--color_mod_5',
			title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Страхование',
			tag_mod: 'grid_item__tag--color_mod_6',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Здравоохранение',
			tag_mod: 'grid_item__tag--color_mod_4',
			title: 'Компания EchoNous создала KOSMOS AI – прибор для диагностики пациентов прямо в больничной палате',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Телекоммуникации',
			tag_mod: 'grid_item__tag--color_mod_1',
			title: 'BearingPoint продлила соглашение с инкубатором телекоммуникационной группы Telefonica, компанией Wayra',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		},
		{
			new_icon: 'NEW!',
			tag_name: 'Digital',
			tag_title: 'transformation',
			tag_subtitle: 'по-украински',
			autor: 'Юрий Чубатюк',
			background: 'item-2.jpg',
			video_icon: 'play',
			style_mod: 'style_1_mod',
			pos_mod: 'pos_2_mod'
		},
		{
			tag: 'Здравоохранение',
			tag_mod: 'grid_item__tag--color_mod_4',
			autor: 'Автор: Пётр Ванькин',
			title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
			text: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем',
			data: '00 окт 20',
			time: '~ 1 мин',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_3_mod'
		},
		{
			tag: 'Транспорт и логистика',
			tag_mod: 'grid_item__tag--color_mod_2',
			title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Банки',
			tag_mod: 'grid_item__tag--color_mod_3',
			title: 'BL Bank использует технологии для создания новых источников дохода',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		},
				{
			picture: 'item-6.jpg',
			tag: 'Ритейл и eCommerce',
			tag_mod: 'grid_item__tag--color_mod_7',
			autor: 'Автор: Пётр Ванькин',
			title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60%',
			data: '00 окт 20',
			time: '~ 1 мин',
			video: 'play',
			style_mod: 'style_2_mod',
			pos_mod: 'pos_4_mod'
		},
		{
			tag: 'Ритейл и eCommerce',
			tag_mod: 'grid_item__tag--color_mod_7',
			title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Страхование',
			tag_mod: 'grid_item__tag--color_mod_6',
			title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		}
	];

