block project_vars
-
	let gridItem = [
		{
			tag: 'Здравоохранение ',
			autor: 'Автор: Владимир Мищенко',
			title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
			background: 'item-1.jpg',
			data: '00 окт 20',
			time: '~ 6 мин',
			style_mod: 'style_1_mod',
			pos_mod: ' pos_1_mod'
		},
		{
			tag: 'Государственный сектор',
			title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_5',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Страхование',
			tag_mod: 'grid_item__tag--color_mod_6',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Здравоохранение',
			title: 'Компания EchoNous создала KOSMOS AI – прибор для диагностики пациентов прямо в больничной палате',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_4',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Телекоммуникации',
			title: 'BearingPoint продлила соглашение с инкубатором телекоммуникационной группы Telefonica, компанией Wayra',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_1',
			style_mod: 'style_2_mod'
		},
		{
			new_icon: 'NEW!',
			tag_name: 'Digital',
			tag_title: 'transformation',
			tag_subtitle: 'по-украински',
			autor: 'Юрий Чубатюк',
			background: 'item-2.jpg',
			video_icon: 'play',
			style_mod: 'style_1_mod',
			pos_mod: 'pos_2_mod'
		},
		{
			tag: 'Здравоохранение',
			autor: 'Автор: Пётр Ванькин',
			title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
			text: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем',
			data: '00 окт 20',
			time: '~ 1 мин',
			tag_mod: 'grid_item__tag--color_mod_4',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_3_mod'
		},
		{
			tag: 'Транспорт и логистика',
			title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_2',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Банки',
			title: 'BL Bank использует технологии для создания новых источников дохода',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_3',
			style_mod: 'style_2_mod'
		},
		{
			picture: 'item-6.jpg',
			tag: 'Ритейл и eCommerce',
			autor: 'Автор: Пётр Ванькин',
			title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60%',
			data: '00 окт 20',
			time: '~ 1 мин',
			video: 'play',
			tag_mod: 'grid_item__tag--color_mod_7',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_4_mod'
		},
		{
			tag: 'Ритейл и eCommerce',
			title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_7',
			style_mod: 'style_2_mod'
		},
		{
			tag: 'Страхование',
			title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента',
			data: '00 окт 20',
			time: '~ 1 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_6',
			style_mod: 'style_2_mod'
		},
		{
			picture: 'item-4.jpg',
			tag: 'Государственный сектор',
			autor: 'Автор: Владимир Мищенко',
			title: 'Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов',
			data: '00 окт 20',
			time: '~ 1 мин',
			tag_mod: 'grid_item__tag--color_mod_5',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_4_mod'
		},
		{
			tag: 'Ритейл/еCommerce',
			autor: 'Автор: Аполлинарий Космодемьянский',
			title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга',
			data: '00 окт 20',
			time: '~ 1 мин',
			tag_mod: 'grid_item__tag--color_mod_7',
			style_mod: 'style_4_mod',
			pos_mod: 'pos_3_mod'
		},
		{
			tag: 'Транспорт и логистика',
			autor: 'Автор: Артём Голоскевич',
			title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
			text: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
			data: '00 окт 20',
			time: '~ 6 мин',
			tag_mod: 'grid_item__tag--color_mod_2',
			style_mod: 'style_5_mod',
			pos_mod: 'pos_5_mod'
		},
		{
			picture: 'item-3.jpg',
			tag: 'Банки',
			autor: 'Автор: Денис Полищук',
			title: 'AI и ML от Dataiku в банковском деле для безопасности и эффективного управления данными',
			data: '00 окт 20',
			time: '~ 1 мин',
			tag_mod: 'grid_item__tag--color_mod_3',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_4_mod'
		},
		{
			tag: 'Телекоммуникации',
			title: 'China Unicom применяет аналитику больших данных и Nokia Predictive Care для выявления аномалий в пакетном ядре',
			data: '00 окт 20',
			time: '~ 6 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_1',
			style_mod: 'style_4_mod',
			pos_mod: 'pos_4_mod'
		},
		{
			picture: 'item-4.jpg',
			tag: 'Государственный сектор',
			autor: 'Автор: Артём Голоскевич',
			title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
			data: '00 окт 20',
			time: '~ 6 мин',
			tag_mod: 'grid_item__tag--color_mod_5',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_3_mod'
		},
		{
			picture: 'item-3.jpg',
			tag: 'Государственный сектор',
			autor: 'Автор: Артём Голоскевич',
			title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
			data: '00 окт 20',
			time: '~ 6 мин',
			tag_mod: 'grid_item__tag--color_mod_5',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_3_mod'
		},
		{
			picture: 'item-7.jpg',
			tag: 'Государственный сектор',
			autor: 'Автор: Артём Голоскевич',
			title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
			data: '00 окт 20',
			time: '~ 6 мин',
			tag_mod: 'grid_item__tag--color_mod_5',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_3_mod'
		},
		{
			tag: 'Банки',
			autor: 'Автор: Владимир Мищенко',
			title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
			text: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью',
			data: '00 окт 20',
			time: '~ 6 мин',
			tag_mod: 'grid_item__tag--color_mod_2',
			style_mod: 'style_3_mod',
			pos_mod: 'pos_4_mod'
		},
		{
			tag: 'Транспорт и логистика',
			title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
			data: '00 окт 20',
			time: '~ 6 мин',
			icon: 'light',
			tag_mod: 'grid_item__tag--color_mod_2',
			style_mod: 'style_4_mod',
			pos_mod: 'pos_4_mod'
		},
	];
