//---------------------------------------------layout
.header {
	position: relative;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;
	padding: 0 1.5rem;

	font-size: 1rem;

	will-change: transform;

	@include z-index(header);
}

.header_in {
}

.header__body {
	@extend %global_flex_block_row_nowrap_flex-start_center;
	padding: 1.6rem 0;
}
.header__social {
	color: $color_link_base;

	&:not(:last-child) {
		margin-right: 2.4rem;
	}
}

//---------------------------------------------layout###

//---------------------------------------------logo

.header__logo {
	flex-shrink: 0;
	width: 16rem;
	height: 5.4rem;
	margin-right: auto;
	z-index: 100;
}

.header__logo_img {
	@extend %contain_img;
}

//---------------------------------------------logo###

//---------------------------------------------header search
.header__search {
	flex-shrink: 0;
	width: 1.8rem;
	height: 1.8rem;

	color: $color_link_base;

	&:not(:last-child) {
		margin-right: 1.8rem;
	}
}
//---------------------------------------------header search###

//---------------------------------------------trigger
@mixin user_menu_butt_line {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 0.4rem;
	margin-top: -0.2rem;
	background: $color_link_base;
	border-radius: 5px;
}

.header__menu_trigger {
	z-index: 210;
	position: absolute;
	top: 50%;
	right: var(--gl-indent);
	display: none; // hidden on wide screens
	height: 2.6rem;
	width: 3.8rem;
	margin-top: -1.6rem;
	text-transform: uppercase;

	color: transparent;
	cursor: pointer;

	@include bp($point_1) {
		display: block; // appear on tablets
	}

	&:before {
		content: "";
		transform: translate(0, -1rem);
		transition: all 0.3s ease;

		@include user_menu_butt_line;
	}

	&:after {
		content: "";
		transform: translate(0, 1rem);
		transition: all 0.3s ease;

		@include user_menu_butt_line;
	}

	&.active_mod {
		&:before {
			transform: (rotate(45deg) translate(0, 0));
		}

		&:after {
			transform: (rotate(-45deg) translate(0, 0));
		}
	}
}

.header__menu_trigger_decor {
	@extend %transition_all;

	.active_mod & {
		opacity: 0;
		transform: translate(0, 100%);
	}

	@include user_menu_butt_line;
}

//---------------------------------------------trigger###
