//---------------------------------------------layout
.header {
	position: relative;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;
	padding: 0 1.5rem;

	font-size: 1rem;
	background-color: $body_bg;

	will-change: transform;

	@include z-index(header);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		height: 7rem;
		background-color: lightgoldenrodyellow;

		@extend %transition_transform;

		transform: translate(0, -100%);
		z-index: 100;

		.body--open_menu_state & {
			transform: translate(0, 0);
		}

		@include bp($point_5) {
			width: 100%;
		}
	}
}

.header_in {
}

.header__body {
	@extend %global_flex_block_row_nowrap_flex-start_center;
	padding: 1.6rem 0;
}

.header__social_wrapper {
	@include bp($point_1, min) {
		&:not(:last-child) {
			margin-right: 1.8rem;
		}
	}
	@include bp($point_1) {
		&:not(:last-child) {
			margin-bottom: 1.8rem;
		}
	}
}

.header__social {
	color: $color_link_base;
}

//---------------------------------------------layout###

//---------------------------------------------logo

.header__logo {
	flex-shrink: 0;
	width: 16rem;
	height: 5.4rem;
	margin-right: auto;
	z-index: 101;
	@include bp($point_1) {
		margin-left: auto;
	}
}

.header__logo_img {
	@extend %contain_img;
}

//---------------------------------------------logo###

//---------------------------------------------header form
.header_form {
	position: relative;

	@extend %global_flex_block_row_nowrap_center_center;

	@include bp($point_1, min) {
		&:not(:last-child) {
			margin-right: 1.8rem;
		}
	}
	@include bp($point_1) {
		&:not(:last-child) {
			margin-bottom: 1.8rem;
		}
	}
}

.header_form__input {
	display: none;

	@include bp($point_1) {
		display: block;
		width: 100%;
		padding: 0;
	}
}

.header_form_element {
	padding-left: 4.2rem;
	color: $color_text_base;
	background-color: $white;
	box-shadow: inset 0 0 0 1px $color_link_base;
	@extend %form_el_default;
}

.header_form__search {
	flex-shrink: 0;
	width: 1.8rem;
	height: 1.8rem;

	color: $color_link_base;

	@include bp($point_1) {
		position: absolute;
		top: 50%;
		left: 1rem;
		height: 100%;
		width: 3rem;
		padding: 0 0.6rem;
		transform: translate(0, -50%);
	}
}
//---------------------------------------------header form###

//---------------------------------------------trigger
@mixin user_menu_butt_line {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 0.4rem;
	margin-top: -0.2rem;
	background: $color_link_base;
	border-radius: 5px;
}

.header__menu_trigger {
	z-index: 210;
	position: absolute;
	top: 50%;
	left: var(--gl-indent);
	display: none; // hidden on wide screens
	height: 2.6rem;
	width: 3.8rem;
	margin-top: -1.6rem;
	text-transform: uppercase;

	color: transparent;
	cursor: pointer;

	@include bp($point_1) {
		display: block; // appear on tablets
	}

	&:before {
		content: "";
		transform: translate(0, -1rem);
		transition: all 0.3s ease;

		@include user_menu_butt_line;
	}

	&:after {
		content: "";
		transform: translate(0, 1rem);
		transition: all 0.3s ease;

		@include user_menu_butt_line;
	}

	&.menu_trigger--active_mod {
		&:before {
			transform: (rotate(45deg) translate(0, 0));
		}

		&:after {
			transform: (rotate(-45deg) translate(0, 0));
		}
	}
}

.header__menu_trigger_decor {
	@extend %transition_all;

	.menu_trigger--active_mod & {
		opacity: 0;
		transform: translate(0, 100%);
	}

	@include user_menu_butt_line;
}

//---------------------------------------------trigger###
